<FlexboxLayout class="navbar" alignItems="center" justifyContent="space-between" row="1" columns="*, *, *">
    <StackLayout margin="0" col="0" [nsRouterLink]="['/main/home']">
        <ns-button [text]="'&#xf0c9;'"></ns-button>
    </StackLayout>
    <StackLayout margin="0" col="1" [nsRouterLink]="['/main/new-post']">
        <Label text="&#xf055;" class="fa main"></Label>
    </StackLayout>
    <StackLayout margin="0" col="2" [nsRouterLink]="['/main/personal']">
        <ns-button [text]="'&#xf007;'"></ns-button>
    </StackLayout>
</FlexboxLayout>