<GridLayout class="navbar" row="1" columns="*,*,*" rows="*" orientation="horizontal">
    <Button margin="0" col="0" [nsRouterLink]="['/main/home']">
        <FormattedString>
            <Span text="&#xf015;\n" fontFamily="FontAwesome"></Span>
            <Span text="Home"></Span>
        </FormattedString>
    </Button>
    <Button margin="0" col="1" [nsRouterLink]="['/main/new-post']">
        <FormattedString>
            <Span text="&#xf000;\n" fontFamily="FontAwesome"></Span>
            <Span text="All"></Span>
        </FormattedString>
    </Button>
    <Button margin="0" col="2" [nsRouterLink]="['/main/personal']">
        <FormattedString>
            <Span text="&#xf007;" class="fontAwesomeIcons"></Span>
            <!-- TODO:
                sexy icons for navigation buttons
             -->
            <Span text="Favorite"></Span>
        </FormattedString>
    </Button>
</GridLayout>