<GridLayout rows="auto, *">
    <StackLayout class="add_image" row="0" backgroundColor="red">
        <!-- <GridLayout class="image-list"> -->
            <StackLayout *ngFor="let i of myImage">
                <Label class="counter" text="{{1 + myImage.indexOf(i)}}"></Label>
                <Image margin="0" class="image-list_item" src="{{i}}"></Image>
            </StackLayout>
            <!-- </GridLayout> -->
        </StackLayout>
        <StackLayout row="1">
        
            <Label (tap)="openCam()" class="button" text="Click to take a picturee"></Label>
    </StackLayout>
</GridLayout>
<GridLayout class="map">
    <ContentView height="100%" width="100%">
        <Mapbox
            accessToken="pk.eyJ1IjoiYmVra2FsaXlldmFzc2FuIiwiYSI6ImNrYm5qOHQ2ejBtZmUyeG1pajV2cTZsdmEifQ.IncTZg_P-uqJHsxPWMDGDg"
            mapStyle="traffic_day"
            latitude="50.467735"
            longitude="13.427718"
            hideCompass="true"
            zoomLevel="18"
            showUserLocation="true"
            (mapReady)="onMapReady($event)">
        </Mapbox>
      </ContentView>
</GridLayout>
    <!-- <GridLayout>
        <MapView (mapReady)="onMapReady($event)" iosOverflowSafeArea="true"></MapView>
    </GridLayout> -->