.image-list_item {
    background-color: red;
}
.counter {
    color: #ffffff;
    font-size: 30;
    background-color: black;
}
.button {
    background-color: rgb(180, 255, 180);
    font-weight: bold;
    font-size: 30;
    
}
.map {
    height: 1300;
    /* background-color: red; */
}